
.mtg-card:hover .mtg-card-embiggen {
    visibility: visible;
}


.mtg-card-embiggen {
    filter: invert(100%) sepia(70%) saturate(55%) hue-rotate(258deg) brightness(110%) contrast(87%);
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .7;
}

.mtg-card-embiggen:hover {
    opacity: 1;
}

.zoomImage {
    width: 300%;
    height: auto;
    z-index: 20;
    position: absolute;
}


.mtg-card:hover .mtg-card-embiggen {
    visibility: visible;
}

.mtg-card .mtg-card-embiggen {
    visibility: hidden;
}

.zoomed {
}