@page

@{
    ViewData["Title"] = "About";
}

<div class="mx-auto w-50 text-light">
<h1>@ViewData["Title"]</h1>

<p>I've been collecting Magic: The Gathering cards since 1994. I've tried a dozen different ways to track my collection.</p>
<p>None have worked for me.</p>
<p>This site is built with the entire of providing /me/ with a smooth way to enter and track my collection.</p>
<p>You can use it too.</p>
<p>I'll even look into adding features you'd like.</p>
<p>There are, and will probably always be, limitations based on how /I/ use the site. This is, and I recognize, an unfortunate reality of the intent of this site - For Me.</p>
<br>
<br>
<p>Given all that, I hope you can find some use in it.</p>
<p>I find it AMAZING, not because I built it; it's given me insight into MTG cards and sets that I had NO idea about. This has OPENED a world of MTG cards I was blind to... SO HAPPY!!!!</p>
<p>It is how I fluidly interact with MTG. That's the whole point of the site.</p>

<br><br>
<p></p><h1>Couldn't Do Without</h1><p></p>
<p><a href="https://mtgjson.com/">MtgJson</a> is the reason this exists. They gave me the data for the first version of the site.</p>
<p><a href="https://scryfall.com/">ScryFall</a> is my source of data for this version of the site.</p>
</div>