@page
@{
    ViewData["Title"] = "Navigate Collection";
}
<div class="mx-auto w-50 text-light">
    <h1>@ViewData["Title"]</h1>
    <hr>
    <p>
        <strong>Get to a card</strong>
    </p><ul>
        <li>Hit TAB until card is selected</li>
        <li>Click on a card</li>
    </ul>
    <p></p>
    <p>
        <strong>Next Card</strong>
    </p><ul>
        <li>On a card - TAB</li>
        <li>On a card - 'Right Arrow Key'</li>
        <li>Click on the next card</li>
    </ul>
    <p></p>
    <p>
        <strong>Previous Card</strong>
    </p><ul>
        <li>On a card - SHIFT+TAB</li>
        <li>On a card - 'Left Arrow Key'</li>
        <li>On a card - 'Num Pad *'</li>
        <li>Click on the previous card</li>
    </ul>
    <p>
        <strong>Next Row</strong>
    </p><ul>
        <li>On a card - 'Down Arrow Key'</li>
        <li>Click on the next row</li>
    </ul>
    <p></p>
    <p>
        <strong>Previous Row</strong>
    </p><ul>
        <li>On a card - 'Up Arrow Key'</li>
        <li>Click on the previous row card</li>
    </ul>
    <p></p>
    <hr>
    <h2>Update Collection</h2>
    <p>
        <strong>Add Card(s)</strong>
    </p><ol>
        <li>Navigate to a card</li>
        <li>Type the number of cards to add</li>
        <li>Hit Enter</li>
    </ol>
    <p>
        <strong>Add Signed Card(s)</strong>
    </p><ol>
        <li>Navigate to a card</li>
        <li>Type 's'</li>
        <li>Type the number of cards to add</li>
        <li>Hit Enter</li>
    </ol>
    <p>
        <strong>Add Altered Card(s)</strong>
    </p><ol>
        <li>Navigate to a card</li>
        <li>Type 'a'</li>
        <li>Type the number of cards to add</li>
        <li>Hit Enter</li>
    </ol>
    <p>
        <strong>Add Artist Proof Card(s)</strong>
    </p><ol>
        <li>Navigate to a card</li>
        <li>Type 'p'</li>
        <li>Type the number of cards to add</li>
        <li>Hit Enter</li>
    </ol>
    <strong>Remove Card(s)</strong>
    <ol>
        <li>Navigate to a card</li>
        <li>Type appropriate card type indicator if needed (a, s, p)</li>
        <li>Type the minus sign (-)</li>
        <li>Type the number of cards to remove</li>
        <li>Hit Enter</li>
    </ol>
    <strong>Clear Entered Value</strong>
    <ul>
        <li>Navigate away from the card</li>
        <li>Hit 'Delete' key</li>
    </ul>
    Note: Delete is not Backspace
    <p></p>
</div>
