@page
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="mx-auto w-50 text-light">
    <h1>@ViewData["Title"]</h1>
    <p>The only info about you collected is during sign up.</p>
    <p>I'm not gonna do anything with it.</p>
    <p>I don't even want it. But the microsoft sign up is WAY better than rolling my own.</p>
</div>