@page
@{
    ViewData["Title"] = "Terms and Conditions";
}
<div class="mx-auto w-50 text-light">
    <h1>@ViewData["Title"]</h1>
    <p>A modified MIT License. TL;DR - I owe you nothing. Ever. For any reason.</p>
    <p>Use <a href="http://www.wheatonslaw.com/">"Wheaton's Law"</a> : Don't be a dick.</p>
    <br>
    Permission is hereby granted, free of charge, to any person use of this website (mtgdiscovery.com) with no obligations of, or from, the website, owners, or operators.

    THE WEBSITE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE&lt;
    WEBSITE BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
    WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE WEBSITE OR THE USE OR OTHER DEALINGS IN THE WEBSITE.
    <br>
    <p>Don't hit the server APIs other than use of the website. You want data - Go use <a href="https://mtgjson.com/">MtgJson</a>.</p>
</div>
