@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IViewLocalizer LayoutLocalizer

@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li><span class="nav-user-name-light">@LayoutLocalizer["LoggedInName", @User.Identity.Name]</span></li>
    </ul>
    <div class="vr nav-vr"></div>
    <ul class="nav navbar-nav">
        <li>
            <a class="mtg-fg-toggle nav-link nav-text-light" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="EditProfile">@LayoutLocalizer["EditProfile"]</a>
        </li>
        <li >
            <a class="mtg-fg-toggle nav-link nav-text-light"asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">[Sign Out]</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav">
        <li>
            <a class="mtg-fg-toggle nav-link nav-text-light" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">[Sign Up/In]</a>
        </li>
    </ul>
}