
<div class="row text-center set-title-container">
    <div class="col position-relative">
        <h5 class="placeholder-glow">
            <span class="placeholder text-bg-light col-6"></span>
        </h5>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <span class="badge placeholder text-bg-primary col-6">&nbsp;</span>
    </div>
    <div class="col-7 text-end">
        <span class="badge placeholder text-bg-secondary col-12">&nbsp;</span>
    </div>
</div>
<div class="row set-loading-badges">
    <div class="col placeholder-glow">
        <span class="badge placeholder text-bg-info col-4">&nbsp;</span>
        <span class="badge placeholder text-bg-light col-3">&nbsp;</span>
        <span class="badge placeholder text-bg-warning col-4">&nbsp;</span>
        <span class="badge placeholder text-bg-secondary col-6">&nbsp;</span>
    </div>
</div>